<style>
    li:hover {
        color: red;
    }
</style>

<ul class="list">
    <li>
        <input type="text" placeholder="分组号" class="" id="maingroupno">
    </li>
    <li onclick="uploadfilesa('form76userimg','form76erpdid','alert(1)',0,0,200,'RED','如果需要换行',$('#maingroupno').val(),1)">
        获取文件上传保存在本地
    </li>

    <li onclick="selectImages($('#maingroupno').val(),testSelct2)">
        按分组号 查询保存的图片
    </li>

    <li onclick="deleteImageGroupno($('#maingroupno').val())">
        删除分组图片
    </li>


</ul>
<div id="maintestgetdata">

</div>
<script>
    localStorage.userno = "001"

    function testSelct2(data) {

        try {

            $("#maintestgetdata").html("");
            for (var i = 0; i < data.length; i++) {

                $("#maintestgetdata").append("<img id='" + data[i].timestamp + "' onclick='testUploadBase64Image(" + data[i].timestamp + ")' data-timestamp='" + data[i].timestamp + "'  src='" + "data:image/jpeg;base64," + data[i].imgstr + "' style='max-width:30%;border-width: 5px; border-style: solid;'>")
            }
        } catch (err) {
            alert(err)

        }

    }


    function testUploadBase64Image(timestamp) {

        uploadImageFormIndexDb(timestamp, (res) => {
            if (res.status == "0") {

                //成功后删除indexdb的图片
                myIndexedDB.deleteData(dbInfo.db, dbInfo.ojstore.name, timestamp, (res) => {
                    if (res.success) {
                        alert("上传至服务器，并删除本地文件成功")

                        $("#" + timestamp).css("border-color", "green")
                    }
                })

            } else {
                alert(JSON.stringify(res))
            }

            console.log(res)
        })


    }

</script>